@charset "UTF-8";
/* CSS Document */

.inbody {
	background-image: url(../images/pro.jpg);
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
	background-color: rgb(226, 250, 240);
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html, body {
	height: 100%;
}

header {
	max-width: 960px;
	margin: 0 auto 0 auto;
	background-image: url(../images/header-bg.png);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.header-contents {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	min-height: 80px;
	background-image: url(../images/header-logo.png);
	background-repeat: no-repeat;
	background-position: 5px 30%;
}

.header-contents h1, .header-contents h2 {
	margin: 0;
	color: #fff;
	line-height: 1;
}

.header-contents h1 {
	padding: 20px 0 10px 100px;
	font-size: 22px;
	text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
}

.header-contents h2 {
	padding: 0 0 0 100px;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgb(214, 22, 22);
}

#boxmenu {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#boxmenu ul {
	list-style-type: none;
	display: flex;
	margin: 10px auto;
}

.phpnav {
	width: 380%;
}

.javanav {
	width: 220%;
}

#boxmenu li {
	flex-wrap: wrap;
	padding: 0 10px;
	margin: 0 auto;
	font-size: 15px;
}

#boxmenu li a {
	color: #fff;
	text-shadow: 2px 2px 2px #1ebf1e;
}

.copyright {
	display: none;
}

#bread {
	max-width: 960px;
	margin: 0 auto;
	list-style: none;
}

#bread ol li {
	display: inline-block;
	list-style: none;
	font-weight: bold;
}

#bread ol li::after {
	content: ">";
	padding: 0 0.2em;
	color: #72a1f7;
}

#bread ol li:last-child::after {
	content: none;
}

#bread li a {
	display: inline-block;
	padding: 0.2em .8em;
	border-radius: 15px;
	text-decoration: none;
	color: #72a1f7;
	background: #c6e2ff;
	font-size: 0.9em;
}

#bread li a:hover {
	background: #c9dbfb;
}

.main-wrapper {
	position: relative;
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.9);
	border-left: #dadada 1px solid;
	border-right: #dadada 1px solid;
	min-height: 80%;
	min-height: calc(100% - 200px);
}

.home-wrapper {
	position: relative;
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
	padding: 80px 15px 30px 15px;
	background-color: rgba(255, 255, 255, 0.9);
	border-left: #dadada 1px solid;
	border-right: #dadada 1px solid;
	min-height: 80%;
	min-height: calc(100% - 200px);
}

.heading {
	position: relative;
	padding-top: 10px;
	padding-bottom: 50px;
	font-size: 28px;
	text-align: center;
	margin-bottom: 70px;
}

.heading::before {
	content: attr(data-en);
	position: absolute;
	top: 47px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(223, 45, 179, 0.5);
	font-size: 80px;
	font-style: italic;
}

section h1 {
	font-size: 32px;
	color: #000000;
	font-family: meiryo;
	text-shadow: 2px 2px 2px #1E50BF;
}

section h2 {
	font-size: 26px;
	color: #000000;
	font-family: meiryo;
	text-shadow: 2px 2px 2px #1ebf1ec4;
	text-align: center;
	margin: 80px 0 40px 0;
}

h3 {
	position: relative;
	padding: 1rem .5rem;
	color: rgb(15, 70, 1);
}

h3:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	content: '';
	border-radius: 3px;
	background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
	background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
}

h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-align: center;
}

h4::before, h4::after {
	content: '';
	width: 2px;
	height: 30px;
	background-color: #3fc1c9;
}

h4::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}

h4::after {
	margin-left: 30px;
	transform: rotate(35deg)
}

#box ul {
	width: 85%;
	margin: 0 auto 0 auto;
	counter-reset: list;
	list-style-type: none;
	position: relative;
	font: 14px/1.6 'Mv Boli', 'arial narrow', sans-serif;
	padding: 0.8em;
	background: #F2EFE7;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset, 0 0 4px rgba(0, 0, 0, 0.2);
}

#box::after {
	content: "学習ノート";
	/* 右下の文字 */
	position: absolute;
	bottom: 40px;
	right: 5em;
	font-size: 15px;
	color: rgb(112, 112, 112);
}

#box li {
	position: relative;
	padding: 6px 5px 10px 50px;
	margin: 7px 0 10px 0px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: dashed 1px #ccc;
	color: #333;
}

#box li:first-child {
	margin-top: 0;
}

#box li:last-child {
	margin-bottom: 20px;
}

#box li::before {
	counter-increment: list;
	content: counter(list) ",";
	position: absolute;
	left: 15px;
	font-size: 16px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#box li:hover::before {
	background-color: #ffd797;
	border-color: rgba(0, 0, 0, .08);
	border-width: .2em;
	color: #444;
	transform: scale(1.5);
	top: 5px;
}

.timer {
	font-size: 25px;
	color: crimson;
}

.red {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

footer {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto 10px auto;
	padding: 15px 30px;
	background-color: #01878b;
	border: #dadada 1px solid;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 12px;
	text-align: right;
}

a {
	color: #5e78c1;
	text-decoration: none;
}

a:hover {
	color: #b04188;
	text-decoration: underline;
}

.realday {
	font-size: 34px;
	color: rgb(0, 21, 85);
	font-weight: bold;
}

.realtime {
	font-size: 22px;
	color: rgb(0, 141, 75);
	font-weight: bold;
}

.video {
	width: 100%;
	text-align: center;
}

.topimg {
	width: 100%;
	text-align: center;
}

.frame1 {
	padding: 10px;
	margin-bottom: 10px;
	border: 3px double #333333;
	background-color: #dff6fc;
}

.frame2 {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px dashed #333333;
	background-color: #fdfdbd;
}

.frame3 {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #d7f7d7;
}

.method tr td, .function tr td {
	font-size: 14px;
	line-height: 1.8;
}

.blank {
	margin: 120px;
}

b {
	color: #1a0252;
}

.nolist {
	list-style-type: none;
}

li {
	margin-bottom: 1em;
}

.error {
	color: #FF0000;
}

@media (max-width: 960px) {
	header {
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 80px;
	}

	#bread {
		padding: 80px 0 0 0;
	}

	#boxmenu {
		top: -450%;
		position: fixed;
		background-color: rgba(3, 25, 0, 0.75);
		transition: all 0.9s;
		width: 100%;
		max-width: 960px;
		margin-top: 80px;
		padding: 0;
		z-index: 99;
	}

	#boxmenu.panelactive {
		top: 0;
		height: 85%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	#boxmenu nav {
		display: inline;
		width: 100%;
	}

	#boxmenu ul {
		display: inline;
		margin-top: 20px;
		list-style-type: none;
	}

	#boxmenu li {
		font-size: 16px;
		padding: 5px 15px;
		text-align: center;
	}

	#boxmenu li a {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: bold;
		margin: 6px 0;
		color: rgb(200, 209, 159);
		text-decoration: none;
	}

	#boxmenu li a:hover {
		color: darksalmon;
	}

	.menu_1 li {
		border-bottom: 1px solid #ffffff;
		width: 65%;
		margin: auto;
	}

	.copyright {
		display: block;
		text-align: center;
		font-size: 18px;
		color: #fff;
		padding: 15px;
		margin-top: 60px;
	}

	/*三本線のメニューボタン*/
	.menu-btn span:before {
		bottom: 8px;
	}

	.menu-btn span:after {
		top: 8px;
	}

	.menu-btn span, .menu-btn span:before, .menu-btn span:after {
		content: '';
		display: block;
		height: 4px;
		width: 25px;
		border-radius: 4px;
		background-color: #fff;
		text-shadow: rgb(145, 40, 40);
		position: absolute;
	}

	/*三本線のメニューボタン*/
	.menu-btn {
		position: fixed;
		top: 30px;
		right: 20px;
		display: flex;
		height: 30px;
		width: 30px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 999;
	}
}

@media (max-width: 500px) {
	header {
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 60px;
	}

	.header-contents {
		min-height: 75px;
		background-size: 40px 40px;
		background-position: 10px 50%;
	}

	.header-contents h1 {
		padding: 15px 0 5px 60px;
		font-size: 16px;
	}

	.header-contents h2 {
		padding: 0 0 0 60px;
		font-size: 14px;
	}

	#bread {
		padding: 60px 0 0 0;
	}

	section h2 {
		font-size: 20px;
		margin: 20px 0 40px 0;
	}

	pre {
		font-size: 12px;
	}

	.main-wrapper {
		font-size: 16px;
		line-height: 1.5em;
	}

	.heading {
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 24px;
		text-align: center;
		margin-bottom: 30px;
	}

	.heading::before {
		content: attr(data-en);
		position: absolute;
		top: -8px;
		left: 48%;
		transform: translateX(-50%);
		color: rgba(240, 85, 90, 0.6);
		font-size: 65px;
		font-style: italic;
	}

	.heading::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%) rotate(30deg);
		width: 2px;
		height: 30px;
		background-color: rgb(226, 23, 84);
	}

	.method tr td, .function tr td {
		font-size: 12px;
	}

	.menu-btn {
		top: 18px;
	}

	#boxmenu {
		top: -300%;
		margin-top: 60px;
	}

	#boxmenu.panelactive {
		height: 92%;
	}
}

/*=====================
page-top
=====================*/

#page-top a {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1630c2;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.6rem;
	transition: all 0.3s;
	letter-spacing: 0.2em;
}

#page-top a:hover {
	background: #777;
}

#page-top {
	/*リンクを右下に固定*/
	position: fixed;
	right: 10px;
	bottom: 25px;
	z-index: 2;
	opacity: 0;
	/*はじめは非表示*/
	transform: translateY(100px);
}

#page-top.UpMove {
	/*　上に上がる動き　*/
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#page-top.DownMove {
	/*　下に下がる動き　*/
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(100px);
	}
}


/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str {
	color: #65B042;
}

/* string  - green */
pre .kwd, code .kwd {
	color: #E28964;
}

/* keyword - dark pink */
pre .com, code .com {
	color: #AEAEAE;
	font-style: italic;
}

/* comment - gray */
pre .typ, code .typ {
	color: #89bdff;
}

/* type - light blue */
pre .lit, code .lit {
	color: #3387CC;
}

/* literal - blue */
pre .pun, code .pun {
	color: #fff;
}

/* punctuation - white */
pre .pln, code .pln {
	color: #fff;
}

/* plaintext - white */
pre .tag, code .tag {
	color: #89bdff;
}

/* html/xml tag    - light blue */
pre .atn, code .atn {
	color: #bdb76b;
}

/* html/xml attribute name  - khaki */
pre .atv, code .atv {
	color: #65B042;
}

/* html/xml attribute value - green */
pre .dec, code .dec {
	color: #3387CC;
}

/* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #2b2b2b;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: none
}

/* Alternate shading for lines */
li.L1, li.L3, li.L5, li.L7, li.L9 {}

@media print {
	pre .str, code .str {
		color: #060;
	}

	pre .kwd, code .kwd {
		color: #006;
		font-weight: bold;
	}

	pre .com, code .com {
		color: #600;
		font-style: italic;
	}

	pre .typ, code .typ {
		color: #404;
		font-weight: bold;
	}

	pre .lit, code .lit {
		color: #044;
	}

	pre .pun, code .pun {
		color: #440;
	}

	pre .pln, code .pln {
		color: #000;
	}

	pre .tag, code .tag {
		color: #006;
		font-weight: bold;
	}

	pre .atn, code .atn {
		color: #404;
	}

	pre .atv, code .atv {
		color: #060;
	}
}

pre {
	width: 92%;
	background-color: #2b2b2b;
	font-size: 13px;
	color: #fffef9;
	padding: 2% 3%;
	overflow: auto;
	border-radius: 2%;
	line-height: 1.2em;
	font-family: "Meiryo";
	letter-spacing: 0.2;
}

.re {
	background: #9099997c;
	color: rgb(0, 0, 0);
	font-size: 15px;
	line-height: 1.4em;
}

/*prettyprint*/